<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<head>
    <header th:replace="fragments/headerimport.html :: headerimport"></header>
    <meta charset="UTF-8">
    <title>Banco de dados</title>
</head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
<body>

<form class="row" method="post" id="salvar" th:action="@{/cliente/novo}" th:object="${clienteModel}">
    <div class="col-md-12">
        <label for="email" class="form-label">E-mail</label>
        <input type="email" class="form-control" id="email" autofocus="autofocus" th:field="*{email}">
    </div>

    <div class="col-md-12">
        <label for="senha" class="form-label">Senha</label>
        <input type="password" class="form-control" id="senha" th:field="*{senha}">
    </div>

    <div class="col-md-6">
        <label for="cpf" class="form-label">CPF</label>
        <input type="text" class="form-control js-phone-number" id="cpf" th:field="*{cpf}">
    </div>

    <div class="col-md-6">
        <label for="telefone" class="form-label">Telefone</label>
        <input type="text" class="form-control" id="telefone" th:field="*{telefone}">
    </div>

    <div class="col-md-6">
        <label for="dataNascimento" class="form-label">Data de nascimento</label>
        <input type="date" class="form-control" id="dataNascimento" th:field="*{dataNascimento}">
    </div>

    <div class="col-sm-3">
        <label for="comAcao">Estados</label>
        <select class="form-control select2" id="comAcao" style="width: 100%;">
            <option th:value="${estados.id}"
                    th:each="estados : ${todosEstados}"
                    th:text="${estados.descricao}"></option>
        </select>
    </div>

    <div class="col-md-6">
        <label for="cep" class="form-label">CEP</label>
        <input type="text" class="form-control" id="cep" th:field="*{cep}">
    </div>
    <div class="col-12" style="margin-top: 10px">
        <button type="submit" class="btn btn-primary">Criar</button>
    </div>
</form>

<th:block layout:fragment="javascript-extra">
    <script th:src="@{/frontjs/form_cliente.js}"></script>
    <div th:replace="fragments/footerimport.html :: footerimport"></div>
</th:block>

</body>
</html>