<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout%22%3E%3E">
<div th:fragment="headerimport">
<meta charset="utf-8" />
<title>EasyDESK</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
<link th:href="@{/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/assets/plugins/global/plugins.bundle.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/assets/plugins/custom/prismjs/prismjs.bundle.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/assets/css/style.bundle.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/assets/css/themes/layout/header/base/light.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/assets/css/themes/layout/header/menu/light.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/assets/css/themes/layout/brand/dark.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/assets/css/themes/layout/aside/dark.css}" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" th:href="@{/assets/media/logos/favicon.ico}" />
<link th:href="@{/assets/plugins/custom/datatables/datatables.bundle.css}" rel="stylesheet" type="text/css" />
</div>
</html>